{% extends 'base.html' %}
{% block content %}


<div class = 'row text-center' >
    <div class = 'col'>
 
        {% if request.user.is_authenticated  %}
        {% csrf_token %}
            <h3>Hello {{request.user}}</h3>
            <div class="row">
                <div class="col-3" style="text-align: left;padding-top: 5px;">
                    <a class="btn btn-primary my-3" href="{% url 'addUser' %}">Add Contact</a>
                </div>
                <div class="col-9">

                    <div class="input-group mb-3" style="margin-top:21px;float: right;width: 330px;">
                        <input id="searchContact" type="search" class="form-control rounded" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary" onclick="filterContacts()">search</button>
                        </div>
                    </div>

                    <!-- <div class="input-group"> -->
                        <!-- <input id="searchContact" type="search" class="form-control rounded" name="searchValue" placeholder="Search" aria-label="Search"
                          aria-describedby="search-addon" /> -->
                        
                    <!-- </div> -->
                </div>
               

            </div>
           
        {% else %}
            <h3>Please Login First!!</h3>
            
        {% endif %}
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class ="form" action="#" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            
        </form>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>My Contacts</h2>
            {% if request.user.is_authenticated  %}
                    <div class="row" id="tweets">
                    {% for contact in contacts %}
                        <div class="col-3 ml-2 mb-2">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{contact.firstName}}</h5>
                                    <p class="card-text">{{contact.lastName}}</p>
                                    <p class="card-text">{{contact.email}}</p>
                                    <p class="card-text">{{contact.mobileNumber}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>


            
            {% else %}
                <h4>No Contacts</h4>
            
            {% endif %}
           
        </div>
    </div>
</div>


<script>


function filterContacts(){


    const searchValue = document.getElementById("searchContact").value;

    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = "/api/search/?searchValue="+searchValue;
    xhr.open(method,url);
    xhr.send();
    xhr.onload =()=> {
        const response =  JSON.parse(xhr.response);
       
        // console.log("response ",JSON.parse(response));
        const contacts = response.Contacts;
        
        let html = '';
        const contactsDiv = document.querySelector("#tweets");
        contactsDiv.innerHTML = "";


        for(let i=0;i<contacts.length;i++){
            let contact = contacts[i];
            let row = `
                <div class="col-3 ml-2 mb-2" >
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">${contact.firstName}</h5>
                            <p class="card-text">${contact.lastName}</p>
                            <p class="card-text">${contact.email}</p>
                            <p class="card-text">${contact.mobile}</p>
                        </div>
                    </div>
                </div>
            
            `;
            html += row;
        };
        console.log(html);

        contactsDiv.innerHTML = html;



        
        


    }

}

</script>

<!--
<script>
    let myfunction = (user) => {
        const xhr = new XMLHttpRequest();
        const method = 'GET';
        const url = "/follow_button/"+user;
        xhr.open(method,url);
        xhr.send();
        alert(url);
    }
    const xhr = new XMLHttpRequest();
    const xhr2 = new XMLHttpRequest();
    const method = 'GET';
    const url = "/tweets";
    const follow_url = '/follow';
    const follow_responseType = "json";
    const responseType = "json";
    let tweetsElement = document.getElementById("tweets");
    let followerTweetsElemnt = document.getElementById("followerTweets");
    xhr2.responseType = follow_responseType;
    xhr.responseType = responseType;
    let handleDidLike = (tweet_id,currentCount) => {
        console.log(tweet_id,currentCount);
        currentCount++;
        return
    };
    let likeButton = (tweet) => {
        let temp = "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + tweet.id + "," + tweet.likes +")>" + tweet.likes + " Likes</button>"; 
        return temp;
    };
    let formattedTweets = (tweets) =>{
        let newUpdatedTweets = "<div class='mb-4 col-12 py-3 tweet' id='tweet-" + tweets.id +"' p>" + tweets.content + "</p><div class='btn-group'>" + likeButton(tweets) + "</div></div>";

        return newUpdatedTweets;
    };

    xhr.open(method,url);
    xhr2.open(method,follow_url);
    xhr.onload =()=> {
        const serverResponse =  xhr.response;
        let listedItems = serverResponse.response;
        let finalTweets = "";
        let i;
        for(i=0;i<listedItems.length;i++){
            let tweetObj = listedItems[i];
            finalTweets += formattedTweets(tweetObj);
        }
        tweetsElement.innerHTML = finalTweets;
    }
    xhr.send();
    xhr2.onload = () =>{
        const serverResponse =  xhr2.response;
        let listedItems = serverResponse.response;
        let finalTweets = "";
        let i;
        for(i=0;i<listedItems.length;i++){
            let tweetObj = listedItems[i];
            finalTweets += formattedTweets(tweetObj);
        }
        followerTweetsElemnt.innerHTML = finalTweets;
    }
    xhr2.send();
</script>

-->
{% endblock content %}